@import '../../styles/bundle.scss';

.header {
	padding-right: 2.5rem;
	padding-left: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: var(--phoenix-navbar-top-bg-color);
	border-bottom: 1px solid var(--phoenix-navbar-vertical-border-color);
	transition: all 0.2s ease-in-out;
	min-height: 4rem;
	font-family: 'Nunito Sans', sans-serif;

	&-logo {
		display: flex;
		align-items: center;
		margin-left: 0.1rem;
		margin-right: 1rem;

		&__title {
			font-size: 26px;
			color: var(--phoenix-logo-text);
			font-weight: 600;
			margin-left: 0.5rem;
		}
	}

	&-search {
		position: relative;
		width: 25rem;

		input {
			width: 100%;
			padding: 0.375rem 1rem;
			padding-left: 2.5rem;
			padding-right: 2rem;
			min-height: calc(1.49em + 0.75rem + 2px);
			outline: none;
			border: 1px solid var(--phoenix-input-border-color);
			border-radius: 50rem;
			background: var(--phoenix-input-bg);
			font-size: 0.8rem;
			color: var(--phoenix-gray-900);

			&::placeholder {
				font-size: 0.8rem;
				color: var(--phoenix-gray-900);
			}
		}

		svg {
			color: var(--phoenix-gray-500);
			position: absolute;
			left: 1rem;
			top: 30%;
			width: 13px;
			height: 13px;
		}
	}

	&-icons {
		@include list-reset;
		display: flex;
		align-items: center;

		&__item {
			@include link-reset;
			width: 32px;
			height: 32px;
			display: flex;
			justify-content: center;
			align-items: center;

			svg {
				margin-top: 4px;
				color: var(--phoenix-theme-control-toggle-color);
				width: 16px;
				height: 16px;
			}

			&:not(:last-child) {
				margin-right: 0.75rem;
			}
		}

		&__theme {
			background-color: var(--phoenix-theme-control-toggle-bg);
			color: var(--phoenix-theme-control-toggle-color);
			border-radius: 50%;

			&:hover {
				background-color: var(--phoenix-theme-control-toggle-hover-bg);
				color: var(--phoenix-theme-control-toggle-hover-color);
				transition: all 0.4s ease-in-out;
			}

			svg {
				&:hover {
					color: var(--phoenix-theme-control-toggle-hover-color);
				}
			}
		}

		&__ring {
			svg {
				width: 20px;
				height: 20px;
			}
		}

		&__avatar {
			img {
				border-radius: 50%;
				width: 40px;
				height: 40px;
			}
		}
	}
}
