html[data-theme='dark']{
	--color-bg-base: #0f111a;
	--color-bg-light-: #141824;
	--color-text-default-: #141824;
	--color-text-light-: #0f111a;
	--color-text-lightest-: #f2fff4;
}
html[data-theme='light']{
	--color-bg-base: #f5f7fa;
	--color-bg-light: #ffffff;
	--color-text-default: #141824;
	--color-text-light: #6e7891;
	--color-text-lightest: #efddb5;
	--color-blue-base: #83b6ed;
}
